/* général */
*
{
    margin: 0%;
    font-family: 'Raleway', sans-serif;   
}

a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.082);
}

.flexbox
{
    display: flex;
}

.noShadow
{
    box-shadow: none;
}

h1
{
    font-size: 1.4em;
    margin-bottom: 10px;
}
h2
{
    font-size: 1.3em;
}

h3
{
    font-size: 1em;
}

p{
    font-size: 1em;
}
.fa-solid
{
    color: #0065FC;
}

span
{
    font-size: 1.1em;
    font-weight: bold;
}

.logo
{
    height: 1.2em;
    width: auto;
    padding-left: 0%;
}

/* nav début */
nav
{
    align-items: center;
    justify-content: space-between;
}

.lodge , .act
{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.act:hover , .act:active , .lodge:hover, .lodge:active
{
    color: #0065FC;
}

/* partie recherche et filtre */

/* formulaire*/
form
{
    flex-direction: row;
    height: 3em;
    margin: 15px 0px;
}


.fa-location-dot
{
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    color: #000;
    text-align: center;
    padding: 1em;
}

.champ
{
    padding: 0px 15px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    width: 15em;
}

::placeholder
{
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 18px;
}

.search-btn
{
    border: 1px solid #0065FC;
    text-align: center;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/* filtre */
.btn
{
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    font-weight: bold;
}

.btn:hover , .btn:active
{
    background-color: rgb(222, 235, 255);
}

/* ligne */
.row-info
{
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}
.circle
{
    border: solid 0.2em #F2F2F2;
    height: 24px;
    width: 24px;
    border-radius: 50% / 50%;
    text-align: center;
    margin-right: 0.5em;
}

.fa-info
{
    padding: 0em 1em;
    font-size: 10px;
}

/* partie lodging avec hébergements à marseille + les plus populaires*/
/* en commun */

.container-lodging a , .container-popular a
{
    background-color: white;
    border-radius: 20px;
    padding: 3px;
}

.star{
    padding-bottom: 0.5em;
    font-size: 0.7em;
}

.lodging-presentation p ,.presentation p
{
    padding: 2px 0px;
}

/* partie hébergement */

.MarseilleLodging
{
    padding:2.5em;
}

.lodging-presentation
{
    flex-direction: column;
    padding: 5px 10px;
    height: 45%;
    justify-content: space-between;
}

.container-lodging a
{
    flex-direction: column;
}

.star-grey
{
    color: #F2F2F2;
}

.container-lodging img
{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

/* partie populaire */

.popular
{
    padding: 35px;
}

.container-popular img
{
    height: 100%;
    width: 35%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.title-popular
{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;   
}

.description-popular
{
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 0.5em 0.5em 0em 0.5em;
}

/* section activités */
.container-activities
{
    justify-content: space-between; 
}

.container-activities a
{
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    margin-top: 20px;
}

.container-activities img
{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.container-activities h3 
{
    padding: 10px 15px;
}

/* footer */

footer
{
    justify-content: space-around;
    margin-top: 60px;
    background-color: #F2F2F2;
    align-content: flex-end;
}

.footer-div
{
    flex-direction: column;
}

ul
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

li
{
    padding: 5px 0px;
}

.footer-div span
{
    padding: 12px 0px;
}